.choose-button {
    width: 309px;
    height: 67px;
    border-radius: 8px;
    background-color: #474747;
    font-size: 24px;
    font-weight: 700;
    color: white;
    border: none;
}

.choose-button:hover {
    background-color: #7B61FF;
}