.card-name {
    font-size: 30px;
    color: black;
    font-weight: 700;
}

.card-describe {
    font-size: 14px;
    font-weight: 400;
}

.card-box {
    padding: 15px;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    background-color: orange;
    display: inline-block;
    margin: 0 7.5px;
}